<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% result.forEach(element=>{%>
        <h1><%= element.type%></h1>
        <h3><%= element.text%></h3>
       <form action="/details/<%= element.id%>">
        <button type="submit">Show details</button>
       </form>
      <%})%>
</body>
</html>